<%- include('partials/header.ejs') %> 
<div class="container mx-10 mt-3 card">
    <table class="table card-body mt-3" id="studenthostel">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">Room No. Alloted</th>
        </tr>
        </thead>
        <tbody id="hosteltable">

        </tbody>
    </table>
</div>

<script src="/js/showhostel.js" charset="utf-8"></script>

<%- include('partials/footer.ejs') %> 

