<%- include('partials/header.ejs') %> 
<h1>Welcome from students.ejs</h1>
<!-- <script src="/students.js" charset="utf-8"></script> -->
let data = <%- data %>
console.log(data) 
<%- include('partials/footer.ejs') %> 